//  Footer Styles
footer {
    &.copyright {
        width: 100%;
        height: em(90);
        color: $white;
        background: $footerBg;
        p {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            font-size: em(12);
            @include v-align-text;
        }
    }
}