// Main Section
main {
    position: relative;
    transition: transform 0.85s $transition;
    @media screen and (min-width: 1025px) {
        transition: none;
    }
    // General Layout styles
    .layout {
        min-height: $layoutHeightMobile;
        @media screen and (max-width: 768px) and (orientation: landscape) {
            min-height: $layoutHeightMobileLandscape;
        }
        @media screen and (min-width: 768px) {
            min-height: $layoutHeightDesktop;
        }
        @media screen and (min-width: 1025px) {
            position: relative;
            @include col-clear-fix;
        }
        // Main Description Titles About, Work, and Contact
        &__inner-title {
            will-change: position;
            position: static;
            @media scren and (min-width: 1025px) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        //Main Description titles colors
        &:nth-child(even) {
            .layout__inner-title {
                background-color: $primaryColor;
            }
        }
        &:nth-child(odd) {
            .layout__inner-title {
                background-color: $secondaryColor;
            }
        }
        // Main Description inner children general styles
        &__inner {
            min-height: $layoutHeightMobile;
            @media screen and (max-width: 768px) and (orientation: landscape) {
                min-height: $layoutHeightMobileLandscape;
            }
            @media screen and (min-width: 1025px) {
                min-height: $layoutHeightDesktop;
                @include col(6, 'left');
                left: 0;
                margin: auto;
                //JS Classes
                &--fixed {
                    position: fixed;
                    top: 0;
                    bottom: 0;
                }
                &--static {
                    position: absolute;
                    top: auto;
                    bottom: 0;
                }
                &:first-child {
                    height: 100%;
                }
            }
        }
        //Main Description inner description styles
        &__inner-desc {
            float: none;
            padding: #{$baseline * em(70)};
            background: $contentBG;
            @media screen and (min-width: 768px) {
                padding: #{$baseline * em(85)};
            }
            @media screen and (min-width: 1025px) {
                float: right;
                @include col(6, 'right');
            }
        }
        //Main Description title container
        &__vertical-helper {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        //Main Description title element
        &__heading {
            text-align: center;
            width: 100%;
            h2 {
                color: $white;
                margin: 0;
                margin-bottom: 1.25rem;
                font-family: $descriptionFont;
                font-size: 4em;
            }
        }
        // Main Description title navigation styles
        &__nav {
            li {
                display: inline-block;
                &:first-child a:after {
                    content: ' / ';
                }
                a {
                    color: $white;
                }
            }
        }
    }
    // Featured project
    .featured-proj {
        position: relative;
        background: $primaryColor; //For script jump on the title
        &__container {
            height: auto;
            padding: 0;
        }
        // Featured project view
        &__view {
            // min-height: $layoutHeightMobile;
            max-height: 100%;
            overflow: hidden;
            position: relative;
            transform: translateX(0px); //Makes this the relative container for my fixed position X
            // Featured project background images applying
            @for $i from 1 through $projects {
                &:nth-child(#{$i}) .featured-proj__img {
                    background: url(nth($projectImg, $i)) 50% 0%/cover no-repeat;
                }
            }
            @media screen and (min-width: 1025px) {
                min-height: $layoutHeightDesktop;
                // Featured project description hover
                &:hover,
                &:focus {
                    .featured-proj__img {
                        transition: transform 25s linear;
                        transform: scale(1.25);
                    }
                    .featured-proj__desc {
                        transform: translateX(0px);
                    }
                }
            }
        }
        &__overflow,
        &__desc {
            box-shadow: 0px 2px 2px 0 rgba($black, 0.3);
        }
        &__overflow {
            overflow: hidden;
            width: 75%;
            height: 290px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transition: transform 0.45s 0.9s $transition;
            &:first-child {
                cursor: pointer;
            }
            // 2nd Container
            +.featured-proj__overflow {
                background: $white;
                z-index: -10;
                opacity: 0;
                transform: translateY(-50%);
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
                transition: transform 0.45s $transition, opacity 0.45s 0.45s $transition;
            }
            //JS Class
            &--expand {
                transform: translateY(-50%);
                box-shadow: 0px 0px 2px 0 rgba($black, 0.3);
                transition: transform 0.45s $transition;
                .featured-proj__front {
                    transform: translateY(250px);
                    transition: all 0.45s 0.45s $transition;
                    h4 {
                        transform: scale(0.75);
                        margin: 0;
                        transition: inherit;
                    }
                    h5 {
                        opacity: 0;
                        transition: inherit;
                    }
                }
                // JS Class
                +.featured-proj__overflow {
                    opacity: 1;
                    transform: translateY(50%);
                    transition: transform 0.45s 0.85s $transition, opacity 0.45s 0.9s $transition;
                }
            }
        }
        // Featured project background imgs general styles
        &__img,
        &__front {
            width: 100%;
            height: 100%;
            position: absolute;
            // @media screen and (min-width: 1025px) {
            //     transition: transform 5s $transition;
            // }
        }
        &__desc {
            padding: em(20) em(20) em(35);
        }
        &__front {
            color: $white;
            background-color: #fc6aa1;
            background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, rgb(249, 73, 182)), color-stop(1, rgb(255, 139, 139)));
            transform: translateY(0%);
            transition: all 0.45s 0.45s $transition;
            h4,
            h5 {
                color: currentColor;
                transition: inherit;
                margin: rem(20) 0 0 rem(20);
                @media screen and (min-width: 768px) {
                    margin: rem(50) 0 rem(15) rem(35);
                }
            }
            h4 {
                transform-origin: 90px 35px;
                font-size: em(30);
                transition: all 0.45s 0.45s $transition;
                @media screen and (min-width: 768px) {
                    font-size: em(70);
                }
            }
            h5 {
                transition: all 0.45s 0.45s $transition;
                @media screen and (min-width: 768px) {
                    font-size: em(40);
                    margin-left: rem(50);
                }
            }
        }
        // Featured project mobile toggle styling
        &__toggle {
            display: none;
            width: 100%;
            height: em(45);
            background: rgba($tertiaryColor, 0.95);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translateY(0px);
            transition: transform 0.3s 0.45s $transition;
            svg {
                width: em(25);
                transform: rotate(90deg);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                fill: $white;
            }
            @media screen and (min-width: 1025px) {
                display: none;
            }
        }
        //Featured project Mobile Description View
        #project1,
        #project2,
        #project3 {
            &:target~.featured-proj__toggle-back {
                opacity: 0;
                transition: opacity 2s $transition;
            }
        }
        //Featured project Mobile Description
        #projectDesc1,
        #projectDesc2,
        #projectDesc3 {
            &:target {
                transform: translateX(0px);
                transition: transform 0.45s 0.3s $transition;
                ~.featured-proj__toggle-back {
                    opacity: 1;
                    transition: opacity 2s $transition;
                }
                ~.featured-proj__toggle-forward {
                    transform: translateY(100%);
                    transition: transform 0.3s $transition;
                }
            }
        }
        //Featured project Mobile Description View "X" or close styling
        &__toggle-back {
            position: fixed;
            top: em(25);
            right: em(25);
            opacity: 0;
            svg {
                width: em(20);
                height: em(20);
                fill: $white;
            }
        }
        // Featured project description styling
        // &__desc {
        //     height: 100%;
        //     background-color: rgba($tertiaryColor, 0.9);
        //     color: $white;
        //     transform: translateX(-100%);
        //     transition: transform 0.45s $transition;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     padding: #{$baseline * em(70)} #{$baseline * em(70)} #{$baseline * em(200)};
        //     overflow-y: auto;
        //     -webkit-overflow-scrolling: touch;
        //     @media screen and (max-width: 768px) and (orientation: landscape) {
        //         padding: #{$baseline * em(70)} #{$baseline * em(70)} #{$baseline * em(500)};
        //     }
        //     @media screen and (min-width: 768px) {
        //         padding: #{$baseline * em(85)};
        //     }
        //     h4 {
        //         color: currentColor;
        //     }
        // }
        // Featured project html svg icons
        &__svg {
            width: em(20);
            display: inline-block;
            margin: 0 em(1);
            .lang {
                max-width: 100%;
                fill: $svgBg;
                height: em(20);
            }
        }
    }
}