// Font Styles
$headingFont: 'Proxima Nova Bold', Arial, Helvetica, sans-serif;
$bodyFont: 'Proxima Nova Regular', Arial, Helvetica, sans-serif;
$descriptionFont: $headingFont;


//Global
$baseline: 1;
$layoutHeightMobile: 700px;
$layoutHeightMobileLandscape: 414px;
$layoutHeightTablet: 1024px;
$layoutHeightDesktop: 960px;
$projectViewHeight: 496px;
$transition: cubic-bezier(.5, 0, .1, 1);
// Projects
$projects: 3;            
$projectImg: '../images/project_tic_tac_toe.jpg', '../images/project_menu.jpg', '../images/project_codepen.jpg';

// Colors
$white: #fff;
$black: #333;
$contentBG: #eee;
$primaryColor: #1e698d;
$secondaryColor: #131925;
$tertiaryColor: #789fbb;

//Mobile Menu
$menuBg: #489eba;

//SVG Icons
$svgBg: $secondaryColor;

// Footer
$footerBg: #333;